<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/bootstrap.css" />
  </head>
  <body>
  <%- include header %>
    <div class="row" id="movie">
	  <div class="col-sm-6 col-md-3 center">
	    <div class="thumbnail">
	      <img src="" alt="">
	      <div class="caption">
	        <h5>《锅匠、裁缝、士兵和间谍》</h5>
	        <p>评分：9.9</p>
	        <p><a href="#" class="btn btn-primary" role="button">查看详情</a></p>
	      </div>
	    </div>
	  </div>

	</div>

	<nav aria-label="Page navigation" id="navTab">
	  <ul class="pagination">
	    <li>
	      <a href="#" aria-label="Previous">
	        <span aria-hidden="true">&laquo;</span>
	      </a>
	    </li>
	    <li><a href="#">1</a></li>
	    <li><a href="#">2</a></li>
	    <li><a href="#">3</a></li>
	    <li><a href="#">4</a></li>
	    <li><a href="#">5</a></li>
	    <li>
	      <a href="#" aria-label="Next">
	        <span aria-hidden="true">&raquo;</span>
	      </a>
	    </li>
	  </ul>
	</nav>
  </body>
</html>