<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
        <script src="http://apps.bdimg.com/libs/jquery/2.0.0/jquery.min.js"></script>
        <script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    </head>
    <body>
       <ul class="commentList">
            <li class="item cl"> <a href="#"><i class="avatar size-L radius"><img alt="" src="http://static.h-ui.net/h-ui/images/ucnter/avatar-default.jpg"></i></a>
                <div class="comment-main">
                <header class="comment-header">
                    <div class="comment-meta"><a class="comment-author" href="#">辉哥</a> 评论于
                    <time title="2014年8月31日 下午3:20" datetime="2014-08-31T03:54:20">2014-8-31 15:20</time>
                    </div>
                </header>
                <div class="comment-body">
                    <p><a href="#">@某人</a> 你是猴子派来的救兵吗？</p>
                </div>
                </div>
            </li>
        </ul>
    </body>
</html>