<footer class="footer">
  <div class="container">
    <div class="col-xs-6">
      <h6>copyright &copy; 2017 </h6>
    </div>
    <div class="col-xs-6 text-justify">
      <h6 class="text-right">本项目基于<a href="#">Express</a>以及 <a href="#">bootstrap</a></h6>
    </div>
  </div>
</footer>