<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
  </head>
  <body>
    <%- include header %>
    <%- include banner %>
    <div class="container">
      <div class="hot-movie">
        <h2 class="text-center">热门电影</h2>
      </div>
    
      
    </div>
    <%- include footer %>
    <script src="/javascripts/jquery-1.11.3.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
  </body>
</html>
