


body .navbar{
  border-radius: 0;
  margin-bottom:0;
}

/*banner 样式*/

#myCarousel{
  height:400px;
}

/*.carousel-inner{
  height:400px;
}*/
.carousel-inner .item{
  height:100%;
}

.carousel-inner .item img{
  height:400px;
}




#movie{
	width: 1000px;
	margin: 0 auto;
	padding: 50px 0;
}
#movie .center{
	text-align:center;
}
#movie .center img{
	width: 150px;
	height: 200px;
	margin-top: 10px;
}

#navTab{
	text-align: center;
	padding-bottom:50px;
}
#navTab ul{
	margin: 0 auto;
}
/*music*/
.main-header {
    padding-top: 62px;
    padding-bottom: 62px;
    background-repeat: no-repeat;
    background-position: center 20%;
    /* -webkit-background-size: cover; */
    background-size: cover;
    text-align: center;
    background: #ffffff;
}
body .row{
  margin:40px;
  margin-right: 40px;
  margin-left: 40px;
}
.col-sm-12 h3{
  color: white;
  font-size: 50px
}
body .thumbnail{
  border:0;
  background:#fbfbfd;
  text-align: center;
}
.thumbnail img{
    display: block;
    width: 140px;
    height: 140px;
    border-radius: 126px;
  }
  .thumbnail a{
    font-size: 16px;
    color: #000;
  }
   .thumbnail a:hover{
     color: #31c27c;
     text-decoration: none;
   }
   .top{
     margin-top:20px;
   }