


.text-line{
  position: absolute;
  top: 104px;
  width: 72px;
  height: 1px;
  opacity: .1;
  filter: alpha(opacity=10);
  background-color: #000;
}

body .navbar{
  border-radius: 0;
  margin-bottom:0;
}

/*banner 样式*/

#myCarousel{
  height:400px;
}

/*.carousel-inner{
  height:400px;
}*/
.carousel-inner .item{
  height:100%;
}

.carousel-inner .item img{
  height:400px;
}



.movie-header{
  background-size:  100%;
  background-position: 0 50%;
  background-repeat: no-repeat;
  height: 300px;
}
#movie{
	width: 1000px;
	margin: 0 auto;
	padding: 50px 0;
}
#movie .center{
	text-align:center;
  overflow: hidden;
}
#movie .center .box{
  width: 150px;
  height: 200px;
}
#movie .center .h4{
  height: 40px;
  line-height: 20px;
  font-size: 18px;
}
#movie .center .a{
  color: #fff;
}
#movie .center img{
	margin-top: 10px;
}

#navTab{
	text-align: center;
	padding-bottom:50px;
}
#navTab ul{
	margin: 0 auto;
}
/*music*/
.main-header {
    height: 300px;
    padding-top: 62px;
    padding-bottom: 62px;
    background-repeat: no-repeat;
    background-position: center 20%;
    /* -webkit-background-size: cover; */
    background-size: cover;
    text-align: center;
    background: #ffffff;
}
body .row{
  margin:40px;
  margin-right: 40px;
  margin-left: 40px;
}
.col-sm-12 h3{
  color: white;
  font-size: 50px
}
body .thumbnail{
  border:0;
  background:#fbfbfd;
  text-align: center;
}
.thumbnail .lazy{
    display: block;
    width: 140px;
    height: 140px;
    border-radius: 126px;
  }
  .thumbnail a{
    font-size: 16px;
    color: #000;
  }
   .thumbnail a:hover{
     color: #31c27c;
     text-decoration: none;
   }
   .top{
     margin-top:20px;
     }

   .lazy{
     width:200px;
     height:200px;
   }
   


.footer{
  height:50px;
  line-height:50px;
  background-color: #f5f5f5;
}

<<<<<<< HEAD

/*评论页面css*/
.commentList .item{list-style: none outside none;margin: 1.6rem 0 0}
.commentList .avatar{border: 1px solid transparent;float: left}
.comment-main{position:relative;margin-left:64px;border:1px solid #dedede;border-radius:2px}
.comment-main:before,.comment-main:after{position:absolute;top:11px;left:-16px;right:100%;width:0;height:0;display:block;content:" ";border-color:transparent;border-style:solid solid outset;pointer-events:none}
.comment-main:before{border-right-color:#dedede;border-width:8px}
.comment-main:after{border-width:7px;border-right-color:#f8f8f8;margin-top:1px;margin-left:2px}
.comment-header{padding:10px 15px;background:#f8f8f8;border-bottom:1px solid #eee}
.comment-title{margin:0 0 8px 0;font-size:1.6rem;line-height:1.2}
.comment-meta{font-size:13px;color:#999;line-height:1.2}
.comment-meta a{color:#999}
.comment-author{font-weight:700;color:#999}
.comment-body{padding:15px;overflow:hidden}
.comment-body>:last-child{margin-bottom:0}
.commentList .comment-flip .avatar {float: right}
.comment-flip .comment-main{margin-left: 0; margin-right: 64px}
.comment-flip .comment-main:before {border-left-color: #dedede;border-right-color: transparent}
.comment-flip .comment-main:before, .comment-flip .comment-main:after {left: 100%;position: absolute;right: -16px}
.comment-flip .comment-main:after {border-left-color: #f8f8f8;border-right-color: transparent;margin-left: auto;margin-right: 2px}
#book{
  width: 1000px;
  margin: 0 auto;
  padding: 50px 0;
}
#book .center{
  text-align:center;
  overflow: hidden;
}
#book .center .box{
  width: 150px;
  height: 200px;
  text-align: center;
  overflow: hidden;
  margin: 0 auto;
}
#book .center .box img{
  width: 150px;
  height: 200px;
}
#book .center .h4{
  height: 40px;
  line-height: 20px;
  font-size: 18px;
}
#book .center .a{
  color: #fff;
}
#book .center img{
  margin-top: 10px;
}
.book-header{
  background-size:  100%;
  background-position: 0 bottom;
  background-repeat: no-repeat;
  height: 300px; 
<<<<<<< HEAD
}
>>>>>>> 064bd21715ad4ef32c3947aeadad293b0f53934c
=======
}}
.middle{
        position: absolute;
        left: 50%;
        margin-top:20px
  }
>>>>>>> 09738fdb575c5935c741501681b3d806803dfa77
